<label for="js-terms" class="cart-drawer__footer__terms">
    <input type="checkbox" id="js-terms" required>
    <p class="cart-drawer__footer__terms__text">
      {{ 'cart.general.terms_html' | t: url: settings.terms_url }}
    </p>
</label>
